.profile-picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin: 0 0px 0 50px;
}
.profile-picture-background{
    height: 92%;
    width: 92%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.profile-picture-background:hover{
    transform: scale(1.07);
    transition: 1s ease-out;
}

@media screen and (max-width: 375px){
    .profile-picture{
        width: 400px;
        margin-top: -80px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 393px){
    .profile-picture{
        width: 400px;
        margin-top: -80px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 412px){
    .profile-picture{
        width: 400px;
        margin-top: -80px;
        margin-left: 0px;
    }
}
